@font-face {
  font-family: ChakraPetch-Bold;
  src: url(../fonts/ChakraPetch-Bold.ttf);
}
@font-face {
  font-family: ChakraPetch-Regular;
  src: url(../fonts/ChakraPetch-Regular.ttf);
}
@font-face {
  font-family: ChakraPetch-BoldItalic;
  src: url(../fonts/ChakraPetch-BoldItalic.ttf);
}
